<div class="main-content">
    <div class="container-fluid">
        <div class='panel panel-primary'>
            <div class='panel-heading'> LMS Management </div>
            <div class='panel-body'>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-header card-header-warning">
                                <h4 class="card-title">Leave Type</h4>
                            </div>
                            <div class="container">
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="name">Annual Leave</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div *ngFor="let user of xref">
                                            <label *ngIf="user.LeaveTypeID === 1" class="badge">
                                                {{user.Count }}
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="name">My Leave</label>
                                    </div>
                                    <div  class="col-md-6">
                                        <div *ngFor="let user of xref">
                                            <label *ngIf="user.LeaveTypeID === 2" class="badge">
                                                {{user.Count }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="row">
        <div class="col-sm-6">
                <label for="name">My Leave</label>
            </div>
            <div  *ngFor="let user of xref" class="col-md-6">
                <label  *ngIf="user.LeaveTypeID === 2" class="badge">
                    {{user.Count }}
                </label>
            </div>
        </div>-->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="name">Restricted Leave</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div *ngFor="let user of xref">
                                            <label *ngIf="user.LeaveTypeID === 3" class="badge">
                                                {{user.Count }}
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <!--container-->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9">
                        <div class="card">
                            <div class="card-header card-header-warning">
                                <h4 class="card-title">Apply Leave</h4>
                                <!--<p class="card-category"></p>-->
                            </div>

                            <form class="form-horizontal" #lmsForm="ngForm" (ngSubmit)="onSubmit(lmsForm)">
                                <span id="reauth-email" class="reauth-email"></span>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text" id="FromDate" class="form-control" [(ngModel)]="model.FromDate" #FromDate="ngModel" name="FromDate" placeholder="From" required autofocus>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <input type="text" id="ToDate" class="form-control" [(ngModel)]="model.ToDate" #ToDate="ngModel" name="ToDate" placeholder="To" required autofocus>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <select [(ngModel)]="model.LeaveTypeID" #LeaveTypeID="ngModel" class="form-control" name="LeaveTypeID" required autofocus>
                                                    <!--<option selected hidden>placeholder</option>-->
                                                    <option [ngValue]="undefined" selected hidden> Please select your type </option>
                                                    <option *ngFor="let typeValue of type" [(ngValue)]="typeValue.LeaveTypeID">{{typeValue.Description}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <textarea matInput id="Reason" class="form-control" [(ngModel)]="model.Reason" #Reason="ngModel" name="Reason" placeholder="Enter Your Reason" required autofocus></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Submit</button>
                                            </div>
                                        </div>
                                        <!--<div class="col-sm-4">
                                            <div class="form-group">
                                                <button class="btn btn-lg btn-primary btn-block btn-warning" type="submit">Draft</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <button class="btn btn-lg btn-primary btn-block btn-danger" type="submit">Cancel</button>
                                            </div>


                                        </div>-->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>




                </div>
            </div>
        </div>


        <div class="col-lg-12">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Leave Status</h4>
                    <!--<p class="card-category"></p>-->
                </div>
                <div class="card-content table-responsive table-full-width">
                    <table class="table">
                        <thead class="text-danger">
                            <tr>
                                <th>Emp Name</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Type</th>
                                <th>Reason</th>
                                <th>Status</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of Leaves">
                                <td>{{user.FirstName }}</td>
                                <td>{{user.FromDate | date: 'dd/MM/yyyy' }}</td>
                                <td>{{user.ToDate | date: 'dd/MM/yyyy' }}</td>
                                <td>{{user.LeaveType }}</td>
                                <td>{{user.Reason }}</td>
                                <td>{{user.LeaveStatus}}</td>
                                <td>
                                    <!--<button title="Edit" (click)="approveLeave(user.LeaveID)">-->
                                    <i class="fa fa-check" (click)="approveLeave(user.LeaveID)" aria-hidden="true" style="color:forestgreen;"></i>
                                    <!--</button>-->
                                </td>
                                <td>
                                    <!--<button title="Delete" (click)="declineLeave(user.LeaveID)">-->
                                    <i class="fa fa-times" (click)="declineLeave(user.LeaveID)" aria-hidden="true" style="color:red;"></i>
                                    <!--</button>-->
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
