<div class="main-content">
    <div class="container-fluid">
        <div class="container">
            <div class="card card-container">
                <div class="card-header card-header-primary">
                    <h4 class="card-title" style="text-align:center;">Apptomate</h4>
                </div>
                <br />
                <!--<img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                <p id="profile-name" class="profile-name-card"></p>-->
                <form class="form-signin" (ngSubmit)="onSubmit()">
                    <span id="reauth-email" class="reauth-email"></span>
                    <input type="text" id="email" class="form-control" [(ngModel)]="model.Email" #Email="ngModel" name="Email" placeholder="Email" required autofocus>
                    <input type="password" id="inputPassword" class="form-control" [(ngModel)]="model.Password" #Password="ngModel" name="Password" placeholder="Password" required>

                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Login</button>
                </form>
                <a routerLink="/calender" class="newaccount">
                    Create a New Account
                </a>
            </div>

            <h3>{{message}}</h3>
        </div>
        </div>
    </div>

