<div class="main-content">
    <div class="container-fluid">
        <div class='panel panel-primary'>
            <div class='panel-heading'> Employee Management </div>
            <div class='panel-body'>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header card-header-warning">
                                <h4 class="card-title">Create User</h4>
                            </div>

                            <div class="card-content table-responsive table-full-width">
                                <form class="form-horizontal" #registerationForm="ngForm" (ngSubmit)="onSubmit(registerationForm)">
                                    <span id="reauth-email" class="reauth-email"></span>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" id="FirstName" class="form-control" [(ngModel)]="model.FirstName" #FirstName="ngModel" name="FirstName" placeholder="First Name" required autofocus>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" id="LastName" class="form-control" [(ngModel)]="model.LastName" #LastName="ngModel" name="LastName" placeholder="Last Name" required autofocus>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" id="Email" class="form-control" [(ngModel)]="model.Email" #Email="ngModel" name="Email" placeholder="Email Address" required autofocus>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="password" id="Password" class="form-control" [(ngModel)]="model.Password" #Password="ngModel" name="Password" placeholder="Password" required autofocus>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" id="PhoneNumber" class="form-control" [(ngModel)]="model.PhoneNumber" #PhoneNumber="ngModel" name="PhoneNumber" placeholder="Phone Number" required autofocus>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <!--<div class="dropdown">
                                                        <button href="#" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                                            Regular
                                                            <b class="caret"></b>
                                                        </button>

                                                        <ul class="dropdown-menu">
                                                            <li class="dropdown-header">Please select your role</li>
                                                            <select [(ngModel)]="model.roleId" #roleId="ngModel" class="form-control" name="roleId" required autofocus></select>
                                                                <option *ngFor="let roleValue of role" [(ngValue)]="roleValue.RoleID">{{roleValue.Description}}</option>

                                                        </ul>

                                                    </div>-->
                                                    <select [(ngModel)]="model.roleId" #roleId="ngModel" class="form-control" name="roleId" required autofocus>
                                                        <option [ngValue]="undefined" disabled selected> Please select your role</option>
                                                        <option *ngFor="let roleValue of role" [(ngValue)]="roleValue.RoleID">{{roleValue.Description}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <select [(ngModel)]="model.designationID" #designationID="ngModel" class="form-control" name="designationID" required autofocus>
                                                        <option [ngValue]="undefined" disabled selected> Please select your designation </option>
                                                        <option *ngFor="let designationValue of desig" [(ngValue)]="designationValue.DesignationID">{{designationValue.DesignationName}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" id="DateOfBirth" class="form-control" [(ngModel)]="model.DateOfBirth" #DateOfBirth="ngModel" name="DateOfBirth" placeholder="Date Of Birth" required autofocus>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" id="Address" class="form-control" [(ngModel)]="model.Address" #Address="ngModel" name="Address" placeholder="Address" required autofocus>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <input type="text" id="City" class="form-control" [(ngModel)]="model.City" #City="ngModel" name="City" placeholder="City" required autofocus>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" id="State" class="form-control" [(ngModel)]="model.State" #State="ngModel" name="State" placeholder="State" required autofocus>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" id="Country" class="form-control" [(ngModel)]="model.Country" #Country="ngModel" name="Country" placeholder="Country" required autofocus>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" id="Zip" class="form-control" [(ngModel)]="model.Zip" #Zip="ngModel" name="Zip" placeholder="Zip" required autofocus>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" id="ProfileImage" class="form-control" [(ngModel)]="model.ProfileImage" #ProfileImage="ngModel" name="ProfileImage" placeholder="ProfileImage" required autofocus>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <select [(ngModel)]="model.genderID" #genderID="ngModel" class="form-control" name="genderID" required autofocus>
                                                        <option [ngValue]="undefined" disabled selected> Please select your gender </option>
                                                        <option *ngFor="let genderValue of gender" [(ngValue)]="genderValue.GenderID">{{genderValue.GenderName}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="hidden" id="EmployeeID" class="form-control" [(ngModel)]="model.EmployeeID" #EmployeeID="ngModel" name="EmployeeID">
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <button class="btn btn-lg btn-primary btn-block btn-outline-info" type="submit">{{submitBtn}}</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <button class="btn btn-lg btn-primary btn-block btn-outline-danger" type="button" (click)="resetForm(registerationForm)">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="alert alert-success" style="visibility: hidden">
                                    <strong>{{msg}}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div
























































>


        <div class="col-lg-6">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Modify User</h4>
                    <p class="card-category"></p>
                </div>
                <div class="card-content table-responsive table-full-width">
                    <table class="table">
                        <thead class="text-danger">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of employees">
                                <td>{{user.FirstName}}</td>
                                <td>{{user.Email}}</td>
                                <td>
                                    <button title="Edit" class="btn btn-info" (click)="editEmployee(user.EmployeeID)">Edit</button>
                                    <button title="Delete" class="btn btn-danger" (click)="getEmployee(user.EmployeeID)" data-toggle="modal" data-target="#deleteModel">Delete</button>
                                </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>





        <!--Delete Modal-->



        <div id="deleteModel" class="modal fade" role="dialog">
            <div class="modal-dialog">
                Modal content
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete</h4>
                    </div>
                    <div class="modal-body">
                        Do you want to delete the <b>{{model.firstName}}</b>
                    </div>

                    <div class="modal-footer">

                        <button class="btn btn-default" type="button" (click)="deleteEmployee(model.EmployeeID)" data-dismiss="modal">Delete</button>

                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

